*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0 !important;
}

/* Todo List Section */
#todolist-wrapper{
    width: 100vw;
    padding: 15vh 20vw 15vh 20vw;
}
div#todolist-list{
    display: flex;
    flex-direction: column;
}
div#item-check{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 8rem;
    height: 8rem;
    span{
        font-size: 5rem;
    }
    border: 2px solid red;
}
div#item-delete{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 8rem;
    height: 8rem;
    span{
        font-size: 5rem;
    }
    border: 2px solid blue;
}
div#item-text{
    flex: 4;
    border: 2px solid green;
}