*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0 !important;
}
#input-title{
    max-width: 75%;
}
#input-desc{
    max-width: 75%;
}

/* Todo List Section */
div#todolist-list{
    display: flex;
    flex-direction: column;
}
div#item-check{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 8rem;
    min-height: 100%;
    span{
        font-size: 5rem;
    }
}
div#item-delete{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 8rem;
    min-height: 100%;
    span{
        font-size: 5rem;
    }
}
div#item-text{
    flex: 4;
}
div#text-head{
    flex: 1;
    padding: 1rem 0 1rem 1rem;
    background-color: rgb(249, 250, 251) !important;
    z-index: 50;
}
div#text-content{
    flex: 2;
    padding: 1rem 0 3.5rem 1rem;
    z-index: 45;
}